@use "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: colors.$color-background;

}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  // color: transparent;
  text-decoration: none;
}