# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules
client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/dist
/server/dist
/server/public/*

# misc
/server/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
