@use "../colors";

.home-container {
    width: 100%;
    position: relative;
    top: 75px;

    & .banner {
        // border: 1px solid black;
        height: 600px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;

        & img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            border-radius: 10px;
        }
    }

    & .products-list {
        width: fit-content;
        margin: 0 auto;
        display: grid;
        grid-auto-rows: 400px;
        grid-template-columns: 300px 300px 300px 300px;

        & .product {
            margin: 0 auto;
        }
    }
}