@use "../colors";

.home-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    top: 75px;

    & .banner {
        height: 43vw;
        position: relative;
        overflow: hidden;
        transition: 0.2s;

        & img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            border-radius: 10px;
        }
    }

    & .products-list {
        width: 90%;
        width: calc(100vw - (100vw*0.05));
        min-width: 650px;
        margin: 0 auto;
        display: grid;
        grid-auto-rows: 450px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;

        & .product {
            margin: 0 auto;
        }
    }
}