.not-found {
    width: 100%;
    height: calc(100% - 75px);
    position: relative;
    top: 75px;

    & img {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}