@use "../colors";

.register-container {
    width: 100%;
    height: 100%;

    & form {
        width: 540px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        border-radius: 10px;

        .error {
            height: 30px;
            color: red;
        }

        & div {
            position: relative;
            text-align: center;
            height: 60px;
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;

            &.error {
                padding: 0;
                width: fit-content;
                margin: 0 auto;
            }

            .hide-button {
                width: fit-content;
                height: fit-content;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translate(0%, -50%);
                cursor: pointer;
            }

            span {
                font-size: 32px;
                font-weight: 600;
            }

            label {
                margin-right: 10px;
                position: relative;

                &.require::before {
                    content: "*";
                    color: red;
                    position: absolute;
                    left: -10px;
                }
            }

            input {
                width: 350px;
                height: 40px;
                padding-left: 15px;
                padding-right: 30px;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: colors.$color-low-white;
                // flex: 1;
            }

            button {
                width: 300px;
                height: 40px;
                padding-left: 15px;
                padding-right: 30px;
                border-radius: 20px;
                border: 1px solid black;
                outline: none;
                background-color: white;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    color: white;
                    border: 1px solid black;
                    background-color: black;
                }
            }
        }

        .confirm {
            justify-content: center;
        }

        .select-sex {
            justify-content: flex-start;

            & input[type="radio"] {
                width: 30px;
                height: 30px;
            }

            & div {
                margin-left: 100px;
                width: 150px;
            }
        }
    }
}