@use "../colors";

.header {
    width: 100%;
    height: 75px;
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 2px solid colors.$color-low-white;
    background-color: white;
    z-index: 10;

    & #loader {
        position: absolute;
        height: 6px;
        background-color: colors.$color-low-white;
        background-color: colors.$color-primary;
    }

    & .left {
        height: 100%;
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & .title {
            width: 60%;
            height: 100%;
            position: relative;
            color: black;

            & * {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            img {
                height: 80%;
            }

            span {
                color: colors.$color-primary;
                font-size: 2.5vw;
                font-weight: bold;
                left: 75px;
            }
        }

        & .options {
            height: fit-content;
            width: fit-content;
            background-color: colors.$color-low-white;
            border-radius: 20px;
            text-align: center;
            font-weight: 600;
            cursor: pointer;
            padding: 5px 20px 5px 20px;
        }
    }

    & .right {
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;

        & .account {
            height: 40px;
            width: fit-content;
            border-radius: 5px;
            // text-align: center;
            position: relative;

            // logon
            .logon {
                height: 40px;
                aspect-ratio: 1;
                cursor: pointer;
                position: relative;

                & .avatar {
                    height: 40px;
                    aspect-ratio: 1;
                    overflow: hidden;
                    // border: 3px solid colors.$color-low-white;
                    border-radius: 50%;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;

                    & img {
                        width: 40px;
                    }
                }

                & .account-drop-list {
                    width: 200px;
                    border-radius: 5px;
                    background-color: white;
                    // box-shadow: 0px 0px 10px black;
                    border: 3px solid colors.$color-low-white;
                    position: absolute;
                    top: 45px;
                    right: 0;

                    &.hide {
                        display: none;
                    }

                    & div,
                    a {
                        width: 100%;
                        display: block;
                        height: 30px;
                        transition: 0.2s;
                        padding: 0px 10px 0px 10px;
                        background-color: white;
                        color: black;

                        & * {
                            margin-top: 7px;
                        }

                        & span {
                            color: black;
                            margin-left: 10px;
                        }

                        &:hover {
                            background-color: colors.$color-low-white;
                        }

                        & svg {
                            width: 18px;
                        }
                    }
                }

            }

            // didn't logon
            .not-logon {
                margin-top: 8%;

                span {
                    margin: 10px;
                }

                a {
                    color: black;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                & svg {
                    height: 30px;
                    cursor: pointer;
                }
            }
        }

        & .search-bar {
            position: relative;

            input {
                width: 300px;
                height: 40px;
                padding-left: 15px;
                padding-right: 30px;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: colors.$color-low-white;
                font-size: medium;
            }

            div {
                right: 10px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
    }
}