#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    & .container {
        position: absolute;
        width: 120px;
        height: 120px;
        animation: infinity-rotate 2s ease infinite;

        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: rotate(calc(var(--index) * 60deg));

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                border: 5px solid black;
                border-radius: 50%;
            }
        }
    }
}


@keyframes infinity-rotate {
    100% {
        transform: rotate(360deg);
    }
}